

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.item_1 {
  background: url(./images/amazing.jpg) center;
  background-size: cover;
}
.item_2 {
  background-color: coral;
}
.item_3{
  background-color: darkseagreen;
}